.cadastro {
    width: calc(100% - 140px);
    margin-bottom: 40px 0;
}

.cadastro_titulo {
    text-align: left;
    color: #FFFFFF;
    font-family: "Istok Web", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 0 0 20px 8px;
}

.cadastrar-container {
    width: 100%;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 80px;

}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    margin: 8px 0 29px;
    color: #FFFFFF;
    font-family: "Istok Web", sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.grupo-input input {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
}

.grupo-input input:focus{
    outline: none;
    box-shadow: none;
}

#id-id {
    min-width: 30px;
    max-width: 50px;
    /* width: 50px; */
}

#nome-id {
    width: 290px;
}

#email-id {
    width: 290px;
}

.btn-cadastrar {
    width: 140px;
    height: 29px;
    color: #FFFFFF;
    background-image: linear-gradient(
        to right, 
        #FF01E6 0%, 
        #AC00AA 23%, 
        #AC00AA 76%, 
        #FF01E6 99%
    );
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-cadastrar:hover {
    /* transition: 3.5ms ease-in-out; */
    scale: 1.07;
    cursor: pointer;
    background-image: linear-gradient(
        to right, 
        #FF01E6 0%, 
        #FF01E6 99%
    );
}

@media (max-width: 800px) {
    form {
        flex-wrap: wrap;
    }

    .btn-cadastrar {
        margin-bottom: 10px;
    }
}