<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cradastro de usuário</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabela.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <link rel="stylesheet" href="/static/css/tabela.css">
    <link rel="stylesheet" href="/static/css/cadastro.css">
</head>
<body>
    <header class="cabecalho">
        <img src="{{ url_for('static', filename='assets/UserZ.svg') }}" alt="Logo do site" class="logo">
        <h1 class="titulo">Cadastro de Usuário</h1>
    </header>
    <main>
        <section class="usuarios">
            <h2 class="usuarios_titulo">Usuários</h2>
            <!-- Mensagem quando não houver usuários cadastrados -->
            <!-- <div class="div-msg-erro">
                <p class="msg-erro ">Nenhum usuário cadastrado</p>
            </div> -->
            <div class="tabela-container">
                <table class="tabela-usuarios">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Data de criação</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.nome }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.data_criacao.strftime('%d-%m-%Y %H:%M') }}</td>
                            <td class="acoes">
                                <a href="{{ url_for('edit_usuario', id=usuario.id) }}">Editar <img src="/static/assets/edit_icon.svg" alt=""></a> 
                                <a href="{{ url_for('delete_usuario', id=usuario.id) }}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir <img src="/static/assets/delete_icon.svg" alt=""></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </section>

        <section class="cadastro">
            <h3 class="cadastro_titulo">Cadastrar novo usuário</h3>
            <div class="cadastrar-container">
                <form action="/adicionar" method="post" autocomplete="off">
                    <div class="grupo-input">
                        <label for="id-id">ID</label>
                        <input type="text" inputmode="numeric" pattern="[0-9]*" title="Digite somente números" name="id-user" id="id-id" required>
                    </div>
                    <div class="grupo-input">
                        <label for="nome-id">Nome</label>
                        <input type="text" name="nome-user" id="nome-id" required>
                    </div>
                    <div class="grupo-input">
                        <label for="email-id">Email</label>
                        <input type="email" name="email-user" id="email-id" required>
                    </div>
                    <input type="submit" value="Adicionar" class="btn-cadastrar">
                </form>
            </div>
        </section>
    </main>

    <!-- <footer class="footer">
        <p>Sistema de Cadastro de Usuários</p>
        <p>Desenvolvido por João Silva - RA: 12345678</p>
        <p>Faculdade de Tecnologia XYZ - Disciplina: Desenvolvimento Web</p>
        <p>&copy; 2025 Todos os direitos reservados.</p>
    </footer> -->
</body>
</html>